* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root { /* Definindo variaveis com definições de cores */
    --white:#fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
}

@media(max-width: 1080px){ /* Diminuindo a tela de resoluções 1080px em -1px / Pegando 16 * 0,9375 = 15px (ou seja, diminuindo 1px de todos os elementos que utilizando a unidade de medida "rem"!)*/
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px){ /* Tamanho Mobile e inferiores */
    html {
        font-size: 87.5%; /* Diminuindo +2px de cada elemento que utiliza a unidade de medida "rem" */
    }
}

body {
    background: var(--background); /* "var('--variavel')" termo usado para usar as variaveis com suas definições de cores */
    color: var(--text)
}

body, input, textarea, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit; 
    text-decoration: none;
}
